<%= form_for(@js_event) do |f| %>
  <% if @js_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@js_event.errors.count, "error") %> prohibited this js_event from being saved:</h2>

      <ul>
      <% @js_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :functionName %><br />
    <%= f.text_field :functionName %>
  </div>
  <div class="field">
    <%= f.label :args %><br />
    <%= f.text_field :args %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
